# Carpetes de compilació
bin/
obj/

# Fitxers específics d'IDE
.vs/
.vscode/
.idea/

# Fitxers temporals
Thumbs.db
ehthumbs.db

# Fitxers de dependències de NuGet
.nuget/

# Extensions a ignorar
*.user
*.suo
*.sln.docstates
*.userosscache

# Ignorar claus públiques i privades
id_rsa                  # Clau privada
id_rsa.pub              # Clau pública

id_rsa_gmail            # Clau privada
id_rsa_gmail.pub        # Clau pública

id_rsa_professor        # Clau privada
id_rsa_professor.pub    # Clau pública
